parameters:
        level: 9
        reportUnmatchedIgnoredErrors: false
        checkGenericClassInNonGenericObjectType: false
        checkMissingIterableValueType: false
        paths:
            - tests
        excludePaths:
        		- tests/src/Traits/Support/Decorators/EventDispatcher/DecoratedEventDispatcher.php
        ignoreErrors:
        		- '#Unsafe usage of new static\(\)#'
        		- '#^Parameter \#2 \$length of method Drupal\\Core\\Entity\\Query\\QueryInterface\:\:range\(\) expects null, int given\.$#'
        		- '#Cannot call method transform\(\) on mixed#'
        		- '#Cannot call method whenEmpty\(\) on mixed#'
        		- '#Cannot call method mapInto\(\) on mixed#'
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
